/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: 'Inter';
    --accent-font-family: 'PressStart2P';
    --header-font-weight: 700;
    --main-font-weight: 400;
    --main-color: #fff;
    --accent-color: #000;
    --gradient-left-to-right: repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px);
    --gradient-top-to-bottom: repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px);
    --gradient-color: repeating-linear-gradient(to bottom, #e7e7e7, #1a1a1a);
    --border-color: var(--accent-color);
    --contour-color: var(--accent-color);
    --animation-fill-color: #FF0000;
}